{%extends 'all-news/base.html'%}
{% load django_bootstrap5 %}
{% block content %} 
{{ block.super}}

<div class="container">

  <!-- Looping through news   -->
  {% for news_item in news %}

  <div class="container-fluid">

    <form class="form-inline" action="{%url 'newsToday'%}" method="post">
      {%csrf_token%}
  
      {% bootstrap_form letterForm  %}
      <input type="submit" value="Subscribe">
    </form>
  
  </div>


  <div class="row">
    <!-- displaying News articles -->
   
      <h2> {{ news_item.title }} </h2>
   


    <img style="width: 20%; border-radius: 10px;" src="{{news_item.article_image.url}}" class="img-responsive" alt="Image" >
    
  

  </div>

  {% empty %}
  <div class="row">
    <h2 class="text-center">There No News Items</h2>
  </div>
  {% endfor %}

</div>

{% endblock %}

